@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-Bold.eot');
    src: url('../fonts/TTCommons-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-Bold.woff2') format('woff2'),
        url('../fonts/TTCommons-Bold.woff') format('woff'),
        url('../fonts/TTCommons-Bold.ttf') format('truetype'),
        url('../fonts/TTCommons-Bold.svg#TTCommons-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 150%;
	font-weight: 400;
	color: #000;
}
.black-scr {
	position: fixed;
	content: '';
	pointer-events: none;
	display: block;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	-webkit-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
	opacity: 0;
	z-index: 4;
	background: rgba(0, 0, 0, 0.1);
}
body.open .black-scr {
	opacity: 1;
	pointer-events: visible;
}
body.send .black-scr {
	opacity: 1;
	z-index: 6;
	background: rgba(0, 0, 0, 0.2);
}
body.open {
	overflow-y: hidden;
}
.wrap {
	max-width: 1920px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
li {
	display: block;
}
h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
}
div,
p,
ul,
li,
span,
button,
input,
a,
form,
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.df {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}
.dif {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}
.aic {
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.jcsb {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.jcc {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.fww {
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}
.aifs {
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
.fdc {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.jcfe {
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	   -moz-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.trans {
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

a {
	color: #000;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
a:hover {
	text-decoration: underline;
}
.title-l {
	font-family: TT Commons;
	font-size: 48px;
	line-height: 120%;
	margin-bottom: 16px;
}
.title-m {
	
}
.title-s {
	font-weight: 700;
	font-size: 22px;
	line-height: 100%;
	color: #232323;
	margin-bottom: 16px;
}
textarea:active,
textarea:focus {
	outline: none;
}
input[type=text],
input[type=submit],
textarea {
	-webkit-appearance: none;
}
input {
	border: 0;
	outline: none;
}
.menu_btn {
	display: none;
}
.btn {
	padding: 10px 20px;
	background: #FFE605;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	line-height: 150%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.btn:hover {
	text-decoration: none;
	background: #FFFACD;
}
.btn__sec {
	background: #FFFFFF;
	border: 2px solid #EFEFEF;
}
.btn__sec:hover {
	background: #EFEFEF;
}
.center {
	text-align: center;
}
.hidden {
	display: none;
}

/* -----icons---- */
.wh24 {
	width: 24px;
	height: 24px;
}
.wh30 {
	width: 30px;
	height: 30px;
}
.wh50 {
	width: 50px;
	height: 50px;
}

/* -------pagination----- */

.pagination {
	margin-top: 40px;
	position: relative;
	z-index: 4;
}
.page-arrow {
	width: 40px;
	height: 40px;
	color: #05376C;
	background: #FFFFFF;
	border: 1px solid #05376C;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.page-arrow.prev {
	margin-right: 10px;
}
.page-numbers {
	width: 40px;
	height: 40px;
	margin-right: 10px;
	color: #05376C;
	border: 1px solid #05376C;
}
.page-dots {
	margin-right: 10px;
	width: 40px;
	height: 40px;
	border: 1px solid #05376C;
}
.page-numbers.current,
.page-numbers:hover,
.page-arrow:hover {
	color: #fff;
	background: #05376C;
}
.page-numbers:hover,
.page-arrow:hover {
	text-decoration: none;
}
/* ---------------breadcrumbs----------------- */

.breadcrumbs__wrap {
	background: #F2F2F2;
	padding: 24px 0 21px;
	margin-top: -10px;
}
.breadcrumbs {
	font-family: Montserrat;
	font-size: 16px;
	line-height: 20px;
	color: #333333;
	margin-bottom: 12px;
}

.breadcrumbs__link {
	font-family: Montserrat;
	font-size: 16px;
	line-height: 20px;
	color: #333333;
	text-decoration: none;
}
.breadcrumbs__link:hover {
	text-decoration: underline;
}

.breadcrumbs__separator {
	display: block;
	margin: 0 11px;
}

/* -----------------------------Header---------------------------- */
.header {
	padding: 26px 0 23px;
	background: #FFFFFF;
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.header__nav ul li:not(:last-child) {
	margin-right: 40px;
}
.header__nav ul li a {
	font-weight: bold;
	font-size: 16px;
	line-height: 100%;
	position: relative;
}
.header__nav ul li.menu-item-has-children {
	padding-right: 18px;
}
.header__nav ul li.menu-item-has-children a::after {
	content: '';
	display: block;
	position: absolute;
	width: 7px;
	height: 4px;
	top: 0;
	right: -16px;
	bottom: 0;
	margin: auto 0;
	background: url('../img/svg/headerarrow.svg') no-repeat 0 0 / cover;
}
.select2-container .select2-selection--single .select2-selection__rendered {
	padding-left: 0px !important;
	padding-right: 16px !important;
}
.select2-container--default .select2-selection--single {
	border: none !important;
	-webkit-border-radius: 0 !important;
	   -moz-border-radius: 0 !important;
	        border-radius: 0 !important;
}
.val-lang {
	font-family: TT Commons;
	font-weight: 700;
	line-height: 16px !important;
}
.lang-chose {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
.img-lang {
	display: block;
	height: 20px;
	margin-right: 10px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 16px !important;
    top: 2px !important;
    right: 0px !important;
    width: 10px !important;
	background: url('../img/svg/arrow-lang.svg') no-repeat 0 0 / cover;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
	display: none !important;
}

.main {
	padding: 96px 0 82px;
}
.main__label {
	background: #FFFACD;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	padding: 8px 16px 8px 12px;
	margin-bottom: 24px;
	font-weight: bold;
	font-size: 16px;
}
.main__label svg {
	margin-right: 10px;
}
.main .title-l {
	font-size: 44px;
	color: #232323;
	margin-bottom: 40px;
}
.main__l {
	width: 48%;
}
.main__r {
	width: 46%;
	padding-top: 62px;
}
.main__r img {
	display: block;
}
.main__list li {
	padding-left: 48px;
	position: relative;
	line-height: 140%;
}
.main__list li strong {
	display: block;
	font-weight: bold;
	font-size: 20px;
	line-height: 100%;
	color: #232323;
	margin-bottom: 12px;
}
.main__list li:not(:last-child) {
	padding-bottom: 38px;
}
.main__list li span {
	position: absolute;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	width: 40px;
	height: 40px;
	border: 4px solid #fff;
	top: -10px;
	left: -4px;
}
.main__list li:after {
	content: '';
	display: block;
	position: absolute;
	top: 36px;
	bottom: 4px;
	left: 15px;
	width: 2px;
}
.fiol {
	background: -webkit-gradient(linear, left top, left bottom, from(#8B8DFF), to(#5D5FEF)), -webkit-gradient(linear, left top, left bottom, from(#83F171), to(#3BC224));
	background: -webkit-linear-gradient(top, #8B8DFF 0%, #5D5FEF 100%), -webkit-linear-gradient(top, #83F171 0%, #3BC224 100%);
	background: -moz-linear-gradient(top, #8B8DFF 0%, #5D5FEF 100%), -moz-linear-gradient(top, #83F171 0%, #3BC224 100%);
	background: -o-linear-gradient(top, #8B8DFF 0%, #5D5FEF 100%), -o-linear-gradient(top, #83F171 0%, #3BC224 100%);
	background: linear-gradient(180deg, #8B8DFF 0%, #5D5FEF 100%), linear-gradient(180deg, #83F171 0%, #3BC224 100%);
}
.pink {
	background: -webkit-gradient(linear, left top, left bottom, from(#FFACF7), color-stop(0.01%, #FF9EF5), to(#F968EA)), -webkit-gradient(linear, left top, left bottom, from(#83F171), to(#3BC224));
	background: -webkit-linear-gradient(top, #FFACF7 0%, #FF9EF5 0.01%, #F968EA 100%), -webkit-linear-gradient(top, #83F171 0%, #3BC224 100%);
	background: -moz-linear-gradient(top, #FFACF7 0%, #FF9EF5 0.01%, #F968EA 100%), -moz-linear-gradient(top, #83F171 0%, #3BC224 100%);
	background: -o-linear-gradient(top, #FFACF7 0%, #FF9EF5 0.01%, #F968EA 100%), -o-linear-gradient(top, #83F171 0%, #3BC224 100%);
	background: linear-gradient(180deg, #FFACF7 0%, #FF9EF5 0.01%, #F968EA 100%), linear-gradient(180deg, #83F171 0%, #3BC224 100%);
}
.green {
	background: -webkit-gradient(linear, left top, left bottom, from(#83F171), to(#3BC224));
	background: -webkit-linear-gradient(top, #83F171 0%, #3BC224 100%);
	background: -moz-linear-gradient(top, #83F171 0%, #3BC224 100%);
	background: -o-linear-gradient(top, #83F171 0%, #3BC224 100%);
	background: linear-gradient(180deg, #83F171 0%, #3BC224 100%);
}
.main__list li:nth-child(1)::after {
	background: -webkit-gradient(linear, left top, left bottom, from(#6466F1), to(#FE98F4));
	background: -webkit-linear-gradient(top, #6466F1 0%, #FE98F4 100%);
	background: -moz-linear-gradient(top, #6466F1 0%, #FE98F4 100%);
	background: -o-linear-gradient(top, #6466F1 0%, #FE98F4 100%);
	background: linear-gradient(180deg, #6466F1 0%, #FE98F4 100%);
}
.main__list li:nth-child(2)::after {
	background: -webkit-gradient(linear, left top, left bottom, from(#F970EC), to(#7AEC68));
	background: -webkit-linear-gradient(top, #F970EC 0%, #7AEC68 100%);
	background: -moz-linear-gradient(top, #F970EC 0%, #7AEC68 100%);
	background: -o-linear-gradient(top, #F970EC 0%, #7AEC68 100%);
	background: linear-gradient(180deg, #F970EC 0%, #7AEC68 100%);
}
.providers {
	padding: 82px 0;
}
.text__info {
	max-width: 784px;
	margin-bottom: 48px;
}
.providers__wrap {
	margin: -16px;
}
.providers__itemwrap {
	width: 25%;
	padding: 16px;
}
.providers__item {
	padding: 32px 24px;
	background: #FFFFFF;
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 10px 30px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 10px 30px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 10px 30px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	        border-radius: 20px;
}
.providers__logo {
	width: 124px;
	height: 48px;
	margin: 0 auto 24px;
}
.providers__logo img {
	width: 100%;
	height: 100%;
	display: block;
	-o-object-fit: cover;
	   object-fit: cover;
}
.providers__label {
	padding: 15px 50px 11px;
	-webkit-border-radius: 50px;
	   -moz-border-radius: 50px;
	        border-radius: 50px;
	position: relative;
	font-family: TT Commons;
	font-weight: 700;
	font-size: 14px;
	line-height: 100%;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 20px;
}
.providers__label::before,
.providers__label::after {
	content: '';
	display: block;
	position: absolute;
	width: 12px;
	height: 12px;
	top: 0;
	bottom: 0;
	margin: auto 0;
	background: url('../img/svg/star.svg') no-repeat 0 0 / cover;
}
.providers__label::before {
	left: 23px;
}
.providers__label::after {
	right: 23px;
}
.providers__itemwrap:nth-child(1) .providers__label {
	background: -webkit-linear-gradient(358.49deg, #8B8DFF 2.7%, #5D5FEF 95.78%), #F4F9FF;
	background: -moz-linear-gradient(358.49deg, #8B8DFF 2.7%, #5D5FEF 95.78%), #F4F9FF;
	background: -o-linear-gradient(358.49deg, #8B8DFF 2.7%, #5D5FEF 95.78%), #F4F9FF;
	background: linear-gradient(91.51deg, #8B8DFF 2.7%, #5D5FEF 95.78%), #F4F9FF;
}
.providers__itemwrap:nth-child(2) .providers__label {
	background: -webkit-linear-gradient(358.8deg, #FF5CEF 0.54%, #FF9EF5 0.55%, #F968EA 97.27%), #ECFFF4;
	background: -moz-linear-gradient(358.8deg, #FF5CEF 0.54%, #FF9EF5 0.55%, #F968EA 97.27%), #ECFFF4;
	background: -o-linear-gradient(358.8deg, #FF5CEF 0.54%, #FF9EF5 0.55%, #F968EA 97.27%), #ECFFF4;
	background: linear-gradient(91.2deg, #FF5CEF 0.54%, #FF9EF5 0.55%, #F968EA 97.27%), #ECFFF4;
}
.providers__itemwrap:nth-child(3) .providers__label {
	background: -webkit-linear-gradient(358.55deg, #FF7575 2.51%, #EB5757 97.71%), #FFFAD0;
	background: -moz-linear-gradient(358.55deg, #FF7575 2.51%, #EB5757 97.71%), #FFFAD0;
	background: -o-linear-gradient(358.55deg, #FF7575 2.51%, #EB5757 97.71%), #FFFAD0;
	background: linear-gradient(91.45deg, #FF7575 2.51%, #EB5757 97.71%), #FFFAD0;
}
.providers__itemwrap:nth-child(4) .providers__label {
	background: -webkit-linear-gradient(358.87deg, #75CE66 -0.61%, #3BC224 99.78%), #FFE9FF;
	background: -moz-linear-gradient(358.87deg, #75CE66 -0.61%, #3BC224 99.78%), #FFE9FF;
	background: -o-linear-gradient(358.87deg, #75CE66 -0.61%, #3BC224 99.78%), #FFE9FF;
	background: linear-gradient(91.13deg, #75CE66 -0.61%, #3BC224 99.78%), #FFE9FF;
}
.providers__title {
	font-weight: 500;
	font-size: 13px;
	line-height: 100%;
	color: #232323;
	opacity: 0.5;
	margin-bottom: 12px;
	display: inline-block;
}
.providers__best {
	padding-bottom: 22px;
	border-bottom: 1px solid #EFEFEF;
	margin-bottom: 16px;
}
.providers__best ul {
	margin: -3px;
}
.providers__best ul li {
	background: #FFFFFF;
	font-weight: 500;
	font-size: 12px;
	line-height: 12px;
	color: #232323;
	padding: 3px;
}
.providers__best ul li span {
	text-align: center;
	padding: 4px 8px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.providers__item p {
	font-size: 14px;
	line-height: 165%;
	color: #4B4B4B;
	margin-bottom: 16px;
	overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    height: 69px;
}
.providers__btns .btn {
	width: 47%;
	padding: 10px 10px;
}
.red {
	background: -webkit-gradient(linear, left top, left bottom, from(#FF7575), to(#EB5757));
	background: -webkit-linear-gradient(top, #FF7575 0%, #EB5757 100%);
	background: -moz-linear-gradient(top, #FF7575 0%, #EB5757 100%);
	background: -o-linear-gradient(top, #FF7575 0%, #EB5757 100%);
	background: linear-gradient(180deg, #FF7575 0%, #EB5757 100%);
}
.info__r {
	width: 46%;
}
.info {
	padding: 82px 0 59px;
}
.info__txt p {
	margin-bottom: 32px;
}
.info__txt p:first-child {
	margin-bottom: 20px;
}
.info__txt .main__list li:after {
	display: none;
}
.main__list li a {
	font-weight: 700;
	font-size: 18px;
	line-height: 32px;
	position: relative;
	padding-right: 26px;
}
.main__list li a:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto 0;
	width: 10px;
	height: 8px;
	background: url('../img/svg/arr-link.svg') no-repeat 0 0 / cover;
}
.info__txt .main__list li span {
	top: -4px;
}
.about {
	padding: 59px 0 82px;
}
.about .title-l {
	margin-bottom: 48px;
}
.about__item {
	width: 30%;
}
.about__icon {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	margin-bottom: 24px;
	width: 64px;
	height: 64px;
}
.about__item p {
	font-size: 16px;
	line-height: 155%;
}
.top {
	padding: 82px 0;
}
.top__table {
	background: #FFFFFF;
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 10px 30px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 10px 30px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 10px 30px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	        border-radius: 20px;
}
.top__table-item {
	padding: 28px 28px 28px 24px;
}
.top__table-item:not(:last-child) {
	border-bottom: 1px solid #EFEFEF;
}
.table__rank {
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
	width: 40px;
	height: 40px;
	margin-top: 4px;
	font-size: 10px;
	line-height: 100%;
	color: rgba(0, 0, 0, 0.5);
}
.table__rank span {
	font-weight: 700;
	margin-bottom: 3px;
	color: rgba(0, 0, 0, 0.8);
	font-size: 14px;
	line-height: 100%;
}
.green-rank {
	background: #CEFFE3;
}
.table__logo {
	width: 124px;
	height: 48px;
}
.table__logo img {
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.table__title {
	font-size: 12px;
	line-height: 100%;
	margin-bottom: 10px;
	color: #232323;
	opacity: 0.5;
	display: block;
}
.table__type-wrap  {
	margin: -3px;
}
.table__type-wrap li span {
	background: #FFFFFF;
	padding: 4px 8px;
	display: block;
	font-weight: 500;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	color: #232323;
	-webkit-box-shadow: 0 0 10px rgb(0 0 0 / 10%);
	   -moz-box-shadow: 0 0 10px rgb(0 0 0 / 10%);
	        box-shadow: 0 0 10px rgb(0 0 0 / 10%);
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}
.table__type-wrap li {
	padding: 3px;
}
.table__where,
.table__type {
	width: 14.5%;
}
.table__where-wrap li:last-child {
	opacity: 0.4;
}
.table__progress {
	background: rgb(39, 174, 96, 0.1);
	width: 100px;
	height: 14px;
	padding: 3px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}
.table__progressline {
	background: #27AE60;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
	display: block;
	height: 100%;
}
.table__pricing ul li {
	width: 22px;
	height: 22px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
		background: #F9F9F9;
}
.table__pricing ul li svg {
	opacity: 0.5;
}
.table__pricing ul li:not(:last-child) {
	margin-right: 5px;
}
.table__pricing ul li.active {
	background: #FFF389;
}
.table__pricing ul li.active svg {
	opacity: 1;
}
.table__btns {
	padding-top: 2px;
}
.table__btns a {
	margin-right: 8px;
}
.btn__square {
	padding: 10px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.btn__square.open svg {
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-transform: rotateZ(180deg);
	   -moz-transform: rotateZ(180deg);
	    -ms-transform: rotate(180deg);
	     -o-transform: rotateZ(180deg);
	        transform: rotateZ(180deg);
}
.table__col {
	padding: 16px 20px;
	background: #F7F7F7;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
}
.col__ranks {
	padding: 4px;
	width: 16.5%;
}
.col__ranks ul li {
	background: #FFFFFF;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
	padding: 3px;
	font-size: 12px;
	line-height: 100%;
	margin-bottom: 4px;
}
.col__ranks ul li span {
	display: inline-block;
	padding: 6px;
	font-weight: 500;
	font-size: 12px;
	line-height: 100%;
	margin-right: 12px;
}
.col__protocols {
	width: 15%;
}
.table__col-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 12px;
	color: #232323;
}
.col__aspects {
	width: 33.33%;
}
.table__item-info {
	margin-top: 24px;
	display: none;
}
.table__item-info.active {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}
.col__aspects ul li {
	padding-left: 20px;
	position: relative;
	font-size: 14px;
	line-height: 20px;
	color: #232323;
}
.col__aspects ul li:not(:last-child) {
	margin-bottom: 10px;
}
.col__aspects ul li::before {
	content: '';
	display: block;
	position: absolute;
	top: 7px;
	left: 2px;
}
.col__positive ul li::before {
	width: 8px;
    height: 6px;
	background: url('../img/good.png') no-repeat 0 0 / cover;
}
.col__negative ul li::before {
	width: 6px;
	height: 6px;
	background: url('../img/bad.png') no-repeat 0 0 / cover;
}
.table__read-more .btn,
.table__read-more {
	width: 100%;
}
.table__read-more .btn {
	margin-top: 20px;
}
.team {
	padding: 82px 0;
}
.team__left {
	width: 43%;
}
.team__right {
	width: 48%;
}
.team__img {
	width: 64px;
	height: 64px;
	margin-bottom: 24px;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
}
.team__item p {
	font-size: 16px;
	line-height: 155%;
}
.team__item:not(:last-child) {
	margin-bottom: 56px;
}
.articles {
	padding: 82px 0;
}
.articles__wrap .info__r {
	margin-top: -69px;
}
.articles__wrap {
	margin-bottom: 35px;
}
.articles__slider-wrap {
	background: #FFF7B5;
	overflow: hidden;
	-webkit-border-radius: 40px;
	   -moz-border-radius: 40px;
	        border-radius: 40px;
}
.articles .slick-list {
	padding: 24px;
}
.articles__slide-wrap {
	padding: 0 12px;
	height: 100%;
}
.articles__slider {
	margin: 0 -12px;
}
.articles__slide {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	background: #FFFFFF;
	-webkit-box-shadow: 0px 10px 30px rgba(213, 198, 81, 0.3);
	   -moz-box-shadow: 0px 10px 30px rgba(213, 198, 81, 0.3);
	        box-shadow: 0px 10px 30px rgba(213, 198, 81, 0.3);
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	        border-radius: 20px;
	padding: 32px;
}
.articles__slide:hover {
	text-decoration: none;
}
.articles .slick-list,
.articles .slick-track {
	display: -webkit-box !important;
	display: -webkit-flex !important;
	display: -moz-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
}
.articles .slick-slide > div {
	height: 100%;
}
.articles__title {
	font-weight: 700;
	margin-bottom: 12px;
	font-size: 20px;
	line-height: 140%;
	display: block;
}
.articles__text {
	display: block;
	font-size: 15px;
	line-height: 150%;
	overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    height: 69px;
}
.articles__meta {
	opacity: 0.5;
}
.articles__meta span {
	display: block;
	font-size: 13px;
	line-height: 140%;
}
.articles__name {
	margin-right: 9px;
	padding-right: 11px;
	position: relative;
}
.articles__name:after {
	content: '';
	display: block;
	position: absolute;
	width: 2px;
	height: 2px;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto 0;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	background: #000;
}